/* Neo-brutalist Prism theme */
code[class*="language-"],
pre[class*="language-"] {
  color: hsl(0 0% 5%);
  background: none;
  font-family: 'Space Mono', monospace;
  font-size: 0.75rem;
  line-height: 1.6;
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  tab-size: 2;
}

.dark code[class*="language-"],
.dark pre[class*="language-"] {
  color: hsl(50 30% 90%);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: hsl(0 0% 50%);
  font-style: italic;
}

.token.punctuation {
  color: hsl(0 0% 40%);
}
.dark .token.punctuation {
  color: hsl(0 0% 65%);
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: hsl(340 85% 50%);
}

.token.boolean,
.token.number {
  color: hsl(280 60% 55%);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: hsl(75 70% 35%);
}
.dark .token.selector,
.dark .token.attr-name,
.dark .token.string,
.dark .token.char,
.dark .token.builtin,
.dark .token.inserted {
  color: hsl(75 85% 55%);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string {
  color: hsl(25 90% 50%);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: hsl(235 100% 50%);
}
.dark .token.atrule,
.dark .token.attr-value,
.dark .token.keyword {
  color: hsl(235 100% 70%);
}

.token.function,
.token.class-name {
  color: hsl(50 95% 40%);
}
.dark .token.function,
.dark .token.class-name {
  color: hsl(50 95% 55%);
}

.token.regex,
.token.important,
.token.variable {
  color: hsl(25 90% 55%);
}
